@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body {
      position: relative;
      background-color: #f4f4f6;
      overflow-x: hidden;

  }
  
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;

  }

  /* quote slider begins*/

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px 0px 0px;
}


/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: 200px;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}

/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

/**/



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
      margin-top: 30px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -0px !important;  

    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin-top: 50px ;
        width: 0px;
        height: 0px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 0px;
        width: 0px;
        height: 0px;
    }
}

  /* quote slider ends*/

/*social icons jumbo*/

.social{
    text-align:center;
    width:50px;
    height:50px;
    float:left;
    background:grey;
    border:1px solid rgb(204,204,204);
    box-shadow:0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    border-radius:100px;
    margin:0 10px 10px 0;
    padding:14px;
    font-size: 4px;
}

.facebook:hover{background:#3b5998;color:#FFF;}

.linkedin:hover{background:#0e76a8;color:#FFF;}

.youtube:hover{background:#c4302b;color:#FFF;}

.github:hover{background:#333;color:#FFF;}


/*social icons jumbo ends*/

 



 
 
 #logo-navbar-middle{
  height: 80px;
  width: 150px;
 }



.logo img{
 
  

}


.logo img:hover, .logo img:focus {
    
    background-color: black;
    text-decoration: none;
   
    -webkit-transition: color 0.7s ease-in, background-color 0.7s ease-in;
    transition: color 0.7s ease-in, background-color 0.7s ease-in;
}


h1{
  margin-top: 10px;

}

h1 a{
  margin-top: 10px;
  text-decoration: none;
  color: black;

}


h1 a:hover, h1 a:focus {
    
    color: #48C9B0;
    text-decoration: none;
   
    -webkit-transition: color 0.7s ease-in, background-color 0.7s ease-in;
    transition: color 0.7s ease-in, background-color 0.7s ease-in;
}
 
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    color: red;
    margin-top: 10px;
}

.navbar .navbar-collapse {
    text-align: center;

}


.navbar-collapse .navbar-nav > li > a {
    color:#000;
    font-size: 1.5em;
    margin-right: 30px;

     -webkit-transition: color 0.4s ease-out, font-size 0.4s ease-out;
    transition: color 0.4s ease-out, font-size 0.4s ease-out;
}

.navbar-collapse .navbar-nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    color: #138D75;
    font-size: 1.6em;
     -webkit-transition: color 0.4s ease-in, font-size 0.4s ease-in;
    transition: color 0.4s ease-in, font-size 0.4s ease-in;
}

.dropdown-menu{
  z-index: 999;
}


.blog-container{
    margin-top: 50px;
    margin-bottom: 100px;
    z-index: 1;
}

#blog-box-left{
  background-color:#1abc9c; 
  height:600px; 
  margin-right:2px;
  border-radius: 3px 0px 0px 3px; 
  -webkit-box-shadow: 0px 1px #000;
   -moz-box-shadow: 0px 1px #000
        box-shadow: 0px 1px #000;

}

#blog-box-right{
  background-color:#fff; 
  height:600px; 
  border-radius: 0px 3px 3px 0px;
  box-shadow: 1px 1px 1px #000;
}


  .btn {
    color:black;
    border: 1px solid #48C9B0;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
    
    margin-left: 5px;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    -webkit-transition: color 0.5s ease-out, background-color 0.5s ease-out;
    transition: color 0.5s ease-out, background-color 0.5s ease-out;
}

.btn a{
  text-decoration: none;
  color: #48C9B0;
}

.btn:hover, .btn:focus {
    background-color:#48C9B0;
    color: white;
    
   
    -webkit-transition: color 0.7s ease-in, background-color 0.7s ease-in;
    transition: color 0.7s ease-in, background-color 0.7s ease-in;
}


.btn a:hover, .btn a:focus {
    
    color: white;
   
    -webkit-transition: color 0.7s ease-in, background-color 0.7s ease-in;
    transition: color 0.7s ease-in, background-color 0.7s ease-in;
}


.vertical-center-row {
   margin:auto;
  width:30%;
  padding:63px;
  text-align:center;

}

/**/



/**/



/*scroll to top */

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
    background-color: #138D75;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #48C9B0;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}


/*scroll to top end*/



/*social icons bottom*/

.socialmedia:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .socialmedia {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

 #social-fb:hover {
     color: #3B5998;
 }
 #social-gt:hover {
     color: #333;
 }
 #social-li:hover {
     color: #007bb7;
 }
 #social-yu:hover {
     color: #c4302b;
 }



/*social icon bottom ends*/


/*blog pages start*/

 pre{
    background-color: transparent;
    border-color: black;

  }


/*blog pages ends*/

/*all blog page*/

.vertical-center-row1 {
   margin:auto;
  width:30%;
  padding:10px;
  text-align:center;

}
/**/

